@import url('@picocss/pico/css/pico');
@import url('@picocss/pico/css/pico.colors');

:root {
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 12px;
  --space-xl: 16px;
  --space-2xl: 20px;
  --space-3xl: 24px;
  --space-4xl: 32px;

  --border-radius-round: calc(infinity * 1px);
}